<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 class="heading">Welcome</h1>
<p th:text="${greeting}"/>
<hr>
<h2>Do you want a more personal greeting? Enter your name below!</h2>
<form th:action="@{/}" th:method="POST" th:object="${nameModel}">
    <label for="nameField" id="nameFieldLabel">Name</label>
    <input id="nameField" type="text" th:field="*{name}">
    <input type="submit">
</form>
</body>
</html>
